.Movies{
    position: absolute;
    left: 100px;
    top: 300px;
}
.Poems{
    position: absolute;
    left: 400px;
    top: 300px;
}
.Biography{
    position: absolute;
    left: 700px;
    top: 300px;
}
.Novels{
    position: absolute;
    left: 1000px;
    top: 300px;
}