<button (click) = "GetTitlelist()">Click</button>

<div class="Movies">
    <h3 align = "center">Movies</h3>
  <div class="well well-lg">
    <ul>
  <li>HEADING1</li>
    </ul>
</div>
</div>
<div class="Novels" >
    <h3 align = "center">Novels</h3>
  <div class="well well-lg">
    <ul>
  <li>HEADING1</li>
    </ul>
</div>
</div>
<div class="Poems">
    <h3 align = "center">Poems</h3>
  <div class="well well-lg">
    <ul>
  <li>HEADING1</li>
    </ul>
</div>
</div>
<div class="Biography">
    <h3 align = "center">Biography</h3>
  <div class="well well-lg">
    <ul>
  <li>HEADING1</li>
    </ul>
</div>
</div>