<app-search></app-search>
<!-- This gives the list of Movies. -->
<div [style.color]="'grey'">
  <div class="row">
    <div class="col-sm-3">
      <h3 align="center">Movies</h3>
      <div class="well well-lg">
        <div>
          <ul *ngFor="let item of Movies; let i = index">
            <a routerLink='/movies' routerLinkActive="active">
              <li (click)="DisplayMovies(i)">{{item.H_Name}}</li>
            </a>
          </ul>
        </div>
      </div>
    </div>


    <!-- This gives the list of Novels. -->
    <div class="col-sm-3">
      <h3 align="center">Novels</h3>
      <div class="well well-lg">
        <ul *ngFor="let item of Novels; let i = index">
          <a routerLink='/novels' routerLinkActive="active">
            <li (click)="DisplayNovels(i)">{{item.H_Name}}</li>
          </a>
        </ul>
      </div>
    </div>


    <!-- This gives the list of Poems. -->
    <div class="col-sm-3">
      <h3 align="center">Poems</h3>
      <div class="well well-lg">
        <ul *ngFor="let item of Poems; let i = index">
          <a routerLink='/poems' routerLinkActive="active">
            <li (click)="DisplayPoems(i)">{{item.H_Name}}</li>
          </a>
        </ul>
      </div>
    </div>


    <!-- This gives the list of Biography. -->
    <div class="col-sm-3">
      <h3 align="center">Biography</h3>
      <div class="well well-lg">
        <ul *ngFor="let item of Biography; let i = index">
          <a routerLink='/biography' routerLinkActive="active">
            <li (click)="DisplayBio(i)">{{item.H_Name}}</li>
          </a>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
</div>
<!--<button (click)="abc()"><button>-->
