<app-search></app-search>

<!--<button (click) = "GetHeadinglist()">Click</button>-->
<!-- This gives the list of Movies. -->
<div class="row">
<div class="col-sm-3">
  <h3 align="center">Movies</h3>
  <div class="well well-lg">
    <div>
      <ul *ngFor="let item of Movies">
        <li><a routerLink='/movies/{{item.H_Id}}' routerLinkActive="active" (click) = "Display(item)">{{item.H_Name}}</a></li>
      </ul>
    </div>
   </div>
  </div>


<!-- This gives the list of Novels. -->
<div class="col-sm-3">
  <h3 align="center">Novels</h3>
  <div class="well well-lg">
    <ul *ngFor="let item of Novels">
      <li><a routerLink='/novels/{{item.H_Id}}' routerLinkActive="active" (click) = "Display(item.H_Id)">{{item.H_Name}}</a></li>
    </ul>
  </div>
</div>


<!-- This gives the list of Poems. -->
<div class="col-sm-3">
  <h3 align="center">Poems</h3>
  <div class="well well-lg">
    <ul *ngFor="let item of Poems">
      <li><a routerLink='/poems/{{item.H_Id}}' routerLinkActive="active" (click) = "Display(item.H_Id)">{{item.H_Name}}</a></li>
    </ul>
  </div>
</div>


<!-- This gives the list of Biography. -->
<div class="col-sm-3">
  <h3 align="center">Biography</h3>
  <div class="well well-lg">
    <ul *ngFor="let item of Biography">
      <li><a routerLink='/biography/{{item.H_Id}}' routerLinkActive="active" (click) = "Display(item.H_Id)">{{item.H_Name}}</a></li>
    </ul>
  </div>
</div>

