<div class="container">
  <form (ngSubmit)='AddHeading(DropDown.value)' #AddHeadingForm='ngForm'>
    <input type="text" name="Heading" #Heading placeholder="Enter the new Heading" [(ngModel)]="AddNewHeading.H_Name">
    <input type="text" name="Data" #Data placeholder="Enter Data" [(ngModel)]="AddNewHeading.H_Data">
    <select #DropDown>
    <option *ngFor="let item of Titles" value="{{item.T_Id}}" [(ngModel)]="AddNewHeading.T_ID">{{item.T_Name}}</option>
    </select>
    <button>Submit</button>
  </form>
</div>
<div>
  hello
</div>
