<footer class="navbar-default navbar-fixed-bottom">
    <div class="footer">
        <div class="contecnt has-text-centered">
           
            <!--<nav class="nav">
                <div class="nav-center">
                    <a class="nav-item is-small" href="/privacy">Privacy</a>
                    <a class="nav-item" href="/about">About</a>
                </div>
            </nav>-->
               <div class="col-md-3">
            <nav class="nav navbar-nav  pull-xs-right">
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/divya2424"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/divya2424"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
                </li>
            </nav>
        </div>
        <div class="col-md-15">
            <nav class="nav navbar-nav  pull-right">
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Terms</a>
                </li>
            </nav>
        </div>
         
    <div class="col-md-33">
            <nav class="nav navbar-nav pull-left ">
                <li class="nav-item">
                    
                    <a class="nav-link" href="#"> Copyright &copy; 2011 Ricky Wai Kit Tsang.  All rights reserved.</a>
                </li>
            </nav>
            </div>
      <!--<p class="pull-center">© Company 2014</p>-->
      <!--<div class="pull-right">
          <ul class="list-inline">
             <li><a href="#">Pricing</a></li>
             <li><a href="#">Contact</a></li>
             <li><a href="#">Terms</a></li>
          </ul>
          </div>-->
          </div>
      </div>
    
</footer>