<br>
<nav class="navbar navbar-inverse" >
<div >
    <div class="row">
      <div class="col-md-4">
        <div class="col-sm-6">
          <!-- A link towards twitter account and github account using navigation bar. -->
          <a class="nav-link" href="https://twitter.com/divya2424" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
        </div>

        <div class="col-sm-6">
          <a class="nav-link" href="https://github.com/kartikchawla22/KnowledgeBase" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
        </div>
      </div>
      <!-- A link for copyright using navigation bar. -->
      <div class="col-md-4" style="color : gray">
        Copyright &copy; 2017 KYAD. All rights reserved.
      </div>
      <!-- A link towards contacts, about and terms using navigation bar. -->
      <div class="col-md-4">
        <div class="col-sm-4">
          <a class="nav-link" routerLink="/contacts" routerLinkActive="active">Contacts</a>
        </div>
        <div class="col-sm-4">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </div>
        <div class="col-sm-4">
          <a class="nav-link" routerLink="/terms" routerLinkActive="active">Terms</a>
        </div>
      </div>
    </div>
</div>
</nav>
