<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone_Number</th>
      </tr>
    </thead>
    <tbody>
      <tr class="success">
        <td>Divya</td>
        <td>Divya.jain@kelltontech.com</td>
        <td>0987654321</td>
      </tr>
      <tr class="danger">
        <td>Yatika</td>
        <td>yatika.tyagi@kelltontech.com</td>
        <td>9207659871</td>
      </tr>
      <tr class="info">
        <td>Akash</td>
        <td>akash.varshney@kelltontech.com</td>
        <td>873456219</td>
      </tr>
      <tr class="warning">
        <td>Kartik</td>
        <td>kartik.chawla@kelltontech.com</td>
        <td>9882527868</td>
      </tr>
    </tbody>
  </table>
</div>
