 <div class="well">
<div class="row">
  <div class="col-sm-4" >
    <a  href = "https://www.kelltontech.com/" target= "_blank"><img src="https://www.drupal.org/files/styles/grid-3/public/kellton_-formerly-Tekriti-Software.png?itok=IV7hNqSW"></a>
  </div>
<div class="col-sm-4">
<h1>Knowledge Base</h1>
  </div>
  <div class="col-sm-4">
  <button class="btn btn-success">
  <a routerLink = '/users'  routerLinkActive = "active">Login</a>
  <a routerLink = '/addheading'  routerLinkActive = "active">Add Heading</a>
  </button>
</div>
  </div>
</div>